<div class="shoutts">
	<div class="shoutt" id="<%= shoutt.id %>">
	  <strong class="user"><%=h shoutt.user.name %></strong>
	  <%=h shoutt.body %>
	  <div class="timeAgo"><%=h I18n.t :time_ago, :time => time_ago_in_words(shoutt.date) %></div>
	</div>
	<div class="shouttButton">
	  <img src="images/reply-button.jpg" title="reply this" />
	  <br />
	  <img src="images/foward-button.jpg" title="foward" />
	</div>
	<br clear="all" />
</div>
